body {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: rgb(59, 59, 44);;
    padding: 10px;
    color: white;
    height: 130px;
    font-size: 30px;
    font-family: poppins;
    height: 130px;
  }
  .img1{
    height: 120px;
    width: 120px;
    margin-left: -150px;
    border-radius: 90px;
    margin-right: 120px;
}
.img2{
  height: 50px;
  width: 50px;
}
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
    margin-top: -90px;
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  a span{
    margin-left: 10px;
  }
  
  a:hover {
    color: #ddd;
  }
  li:hover {
    color: #ddd;
  }
  
  .product {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .cart-container {
    margin: 20px;
    
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
  }
  
  .cart-item img {
    max-width: 60px;
    height: auto;
  }
  
  .total {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }
  .cart-count{
    font-size: 30px;
    margin-top: -70px;
    margin-left: 10px;
    
  }
  
  .img2{
    height: 50px;
    width: 50px;
    margin-left: 100px;
    border-width: 20px;
}
p{
  font-size: 20px;
}