
.container4 {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .about {
    text-align: left;
  }
  
  .about a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  
  .about b {
    font-size: 16px;
  }
  
  .mail {
    text-align: left;
  }
  
  .mail p {
    margin-top: 0;
  }
  
  .pic {
    margin-top: 10px;
    width: 150px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
  }