th{
    font-size: 25px;
}
td{
    font-size: 20px;
}
.table1{
    width: 100%;
}
.total1{
    font-size: 35px;
    font-weight: 600;
}
.my-form {
    width: 300px; 
    margin: auto; 
  }
  
  .my-form label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .my-form input {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 8px; 
  }
